@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");


.accSettingsMain {
    background: linear-gradient(to left, rgb(158, 238, 244), white);
    height: 100vh;
    width: 100%;
}
.acc-settings-container {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 2rem;
  text-wrap: nowrap;
  width: 60%;
  padding: 50px;
  background: linear-gradient();
}

.acc-settings-container h2 {
  margin: -2px 0 40px -43px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 2rem;
}

.acc-settings-container input {
  font-size: 1.5rem;
}

.acc-settings-container button {
  font-size: 1.5rem;
  text-align: center;
  border: none;
  padding: 10px;
  border-radius: 10px 15px 10px 15px;
  background-color: rgb(19, 203, 216);
  cursor: pointer;
  color: white;
  font-weight: 700;
}

.acc-settings-container h5 {
  font-size: 1rem;
}

.acc-settings-container ul {
  margin-bottom: 20px;
}
.acc-settings-container li {
  font-size: 1rem;
  text-align: left;
  margin: 5px 0px;
}
.acc-settings-container div {
  margin: 20px 0;
}
