:root {
  --main-blue: rgb(52, 59, 146);
}

.main-dashboard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
}
.dashboard-title {
  margin: 65px 0px 0px 20px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 2rem;
  color: white;
}
.dashboard-item {
  background-color: rgb(255, 255, 255);
  height: min-content;
  width: min-content;
  min-width: 200px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 30px 10px;
  box-shadow: 2px 2px 2px 2px rgba(56, 55, 55, 0.2);
  display: flex;
}

.welcome-item,
.style-item {
  display: block;
  width: 42.5%;
  height: 300px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--main-blue);
  color: white;
}

.welcome-item h1 {
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

.welcome-item h2 {
  font-size: 2rem;
  margin-top: 5px;
  white-space: nowrap;
}

.welcome-item h3 {
  margin-top: 20px;
  font-size: 1rem;
}

.style-item {
  display: flex;
  background-image: url("../assets/workplace.jpg");
  opacity: 90%;
}

.style-item h1 {
  text-align: center;
  margin: auto;
  align-items: center;
  font-size: 2.5em;
  flex-wrap: nowrap;
  color: rgb(41, 50, 176);
}

#charts {
  width: min-content;
  height: 400px;
}

@media only screen and (max-width: 1204px) {
  .main-dashboard {
    overflow-y: hidden;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .style-item {
    display: none;
  }
  .welcome-item {
    width: 100%;
    text-align: center;
    min-width: none;
    height: min-content;
  }

  .welcome-item h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 834px) {
  .dashboard-item {
    margin: 20px;
  }
}
