.MuiAccordionSummary-content {
  justify-content: space-around;
  align-items: center;
}

.accordion-user-type {
  width: 150px;
  font-size: 1.25rem;
}

.accordion-user-active {
  flex: 1;
  font-size: 1rem;
}

#panel-header {
  background-color: white;
  border-radius: 10px;
}

.accordion-header strong {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.5rem;
  width: 150px;
}

.accordion-user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.accordion-user-details div {
  display: flex;
  margin: 5px;
  font-family: "Raleway", sans-serif;
  justify-content: space-evenly;
  font-optical-sizing: auto;
}

.accordion-user-details div input,
.accordion-user-details div select {
  width: 300px;
}

.accordion-user-details div p {
  width: 200px;
}

.accordion-user-buttons button {
  margin-top: 20px;
  background-color: var(--main-blue);
  font-size: 1.25rem;
  color: white;
  border: none;
  width: max-content;
  padding: 10px;
  border-radius: 10px 20px 10px 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.Mui-expanded .MuiButtonBase-root {
  background-color: rgb(37, 222, 235);
}

@media only screen and (max-width: 530px) {
  .accordion-header strong {
    width: 100px;
  }

  .accordion-user-active {
    flex: 1;
    font-size: 1rem;
    display: none;
  }

  .accordion-user-details div p {
    font-size: 1rem;
  }

  .accordion-user-buttons button {
    font-size: 1rem;
  }

  .accordion-user-details div {
    margin: 2px;
  }
}
